@import "variables";
@import "bootstrap";

.fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}
body {
  background-image: radial-gradient(circle,rgba(0,0,0,.0),rgba(0,0,0,.3));
  &.darker {
    background-image:
      radial-gradient(circle,rgba(0,0,0,.0),rgba(0,0,0,.3)),
      radial-gradient(circle,rgba(0,0,0,0), rgba(0,0,0,.6) 85%,rgba(0,0,0,1) 100%);
  }
}
.container {
  @include make-container();
  @include make-container-max-widths();
}
.ways_wrapper {
  @include make-row();
}
#ways {
  @include media-breakpoint-up(md) {
    @include make-col(6);
    @include make-col-offset(3);
  }
  text-align: center;
  .nav-item {
    list-style-type: none;
    display: inline-block;
    @extend .btn;
    @extend .btn-outline-primary;
    a {
      color: $body-color;
    }
    &:hover a {
      color: #fff;
    }
  }
}
#content_wrapper {
  @include make-row();
  background: $text_background;
}
.sidebar {
  @include media-breakpoint-up(md) {
    @include make-col(3);
  }
  .verb {
    margin-top: 1em;
    text-align: center;
    font-size: larger;
    text-transform: uppercase;
  }
  li {
    @extend .btn;
    @extend .btn-outline-danger;
    display: block;
    text-align: left;
  }
}
.content {
  @include make-col(12);
  @include media-breakpoint-up(md) {
    @include make-col(10);
    @include make-col-offset(1);
  }
  &.narrow {
    @include media-breakpoint-up(md) {
      @include make-col(9);
      margin-left: 0;
    }
  }
  padding: 1em;
  ul {
    margin: 0;
    padding: 0 0 0 1em;
  }
  ul.options {
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0.7em;
    list-style-type: none;
    li {
      display: inline;
    }
    li a {
      display: block;
      margin-bottom: 0.5em;
      font-family: $headings-font-family;
      text-decoration: none;
      > div {
        border-radius: 5px;
        border: 1px solid #000;
        padding: 1em;
        background-image: linear-gradient( 45deg, #ccc, #fff );
        color: $ok-color;
        &:hover {
          background-color: rgba(153,136,119,0.2);
          background-image: none;
        }
      }
    }
    .warning {
      background-image: linear-gradient( 45deg, #ddd, #fff );
      color: $warning-color;
    }
    .neutral {
      background-image: linear-gradient( 90deg, #ccc, #fff );
      color: $neutral-color;
    }
  }
  .room-start {
    border-top: none;
  }
  h3, h4, h5 {
    text-align: center;
  }
  blockquote {
    font-family: "EB Garamond", serif;
    margin: 1em 2em;
    line-height: 1.45;
    color: #383838;
    font-size: $font-size-base* 1.4;
  }
}
.cycle {
  color: darkgreen;
  border-bottom: darkgreen dashed 1px;
}
hr {
  width: 50%;
  border-color: $body-color;
}
.btn-outline-primary,
.btn-outline-danger {
  border: none;
  border-color: transparent;
}
.center {
  text-align: center;
}
.gothic {
  font-family: "Germania One", cursive;
}
.footer {
  @include media-breakpoint-up(md) {
    @include make-col(6);
    @include make-col-offset(3);
  }
  text-align: center;
}
.effect {
  color: #4c20dd;
}
.tab {
  width: 100%;
  position: relative;
  text-align: left;
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: $font-size-base;
  font-weight: normal;
  top: 4px; 
  &:hover {
    background: lighten($brand-primary, 10);
  }
  &.active {
    top: 0;
    padding-top: 17px; 
    background: darken($body-bg, 15); 
  }
}
#map {
  max-width: 400px;
  height: 400px;
  margin: auto;
}
.halfcol {
  @include media-breakpoint-up(md) {
    @include make-col(6);
  }
  text-align: center;
  img {
    max-width: 100%;
  }
}
.centercol {
  padding-top: $font-size-base * 5;
}
.medskip {
  margin-top: $font-size-base * 1.5;
  margin-bottom: $font-size-base * 1.5;
}
#tentacles {
  @media(max-width: 580px) {
    display: none;
  }
  position: absolute;
  z-index: -10;
  width: 100%;
  top: 40%;
  .right {
    position: absolute;
    right: 0;
  }
  .left {
    position: absolute;
    left: 0;
    transform: rotate(180deg);
  }
  img {
    width: $font-size-base * 3;
  }
}
.night {
  background-image: radial-gradient(circle,rgba(0,0,0,.7),rgba(0,0,0,1)) !important;
  background-size: 100% 100%;
  color: $body-color-night !important;
  .nav-item {
    a {
      color: $body-color-night !important;
    }
  }
  a {
    color: lighten($link-color, 30%);
  }
  .btn-outline-primary {
    color: #777;
  }
  .tab.active {
    background: #333 !important; 
  }
}
